body {
    font-family: Arial, sans-serif; 
    background-color: purple;
    font-weight: bold;
}

header {
    text-align: center;
    color: black;
    padding: 20px;
}


#main-title {
    font-size: 36px;
}

.content {
    margin-bottom: 12px;
}
